body {
    color: #fff;
    background-color: #555;
}
a {
    color: #fff
}
h1, h2, h3 {
    font-weight: bold;
    text-align: center;
}
li {
    list-style: none;
}
.meta,.dates {
    font-size: 80%;
}
form {
    text-align: center;
}
.follower {
    border: 1px solid #000;
    text-align: center;
}
body > ul {
    padding: 8px;
}
.mod {
   border-color: #ccc;
   border-radius: 4px;
   margin-bottom: 10px;
}
.interactions, .quests {
    cursor: pointer;
    cursor: zoom-in;
}
.title.active {
    text-align: left;
    background-color: #444;
    border: 1px solid #000;
    box-shadow: 3px 3px 6px;
}
@media screen and (min-width: 600px) {
    form {
        background-color: #444;
        box-shadow: 3px 3px 6px;
    }
    legend {
        color: #f00;
        font-weight: bold;
    }
    .follower {
        background-color: #444
    }
    .mod {
        box-shadow: 5px 5px 5px #ccc;
    }
}