html, body {
    min-height: 100%;
    width: 100%;
}
h1, h2, h3 {
    margin:0;
    padding: 1em 0;
}
p {
    margin: 0;
    padding: 0.2em;
}
li ul {
    display: flex;
    padding: 0;
    margin: 0;
}
.follower {
    width: 100%;
    border-radius: 1em;
}
form {
    display: block;
    padding: 0.5em;
}
fieldset {
    display: grid;
    grid-template-columns: 1fr;
}
.mod {
    border: 1px solid;
}
.title {
    display: none;
}
.title.active {
    display: block;
    width: 300px;
}
.title ul {
    display: block;
}
.title li {
    display: list-item;
    list-style: circle;
}
@media screen and (min-width: 600px) {
    .follower {
        width: 50%;
    }
}
@media screen and (min-width: 750px) {
    fieldset {
        grid-template-columns: 1fr 1fr;
    }
    fieldset > label,
    fieldset > select,
    fieldset > input {
        display: none;
    }
    fieldset:hover > label,
    fieldset:hover > select,
    fieldset:hover > input {
        display: block;
    }
    form {
        padding: 0;
        position: fixed;
        right: 0;
        top: 0;
    }
    .mod {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 5px;
    }
    .follower {
        width: 33%;
    }
}
@media screen and (min-width: 1000px) {
    .follower {
        width: 25%;
    }
}
